
/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #004080;
}

.dont-show{
  display: none;
}

.full-cover-background{
    margin: 0;
  /*height: 100%;*/
  width: 100%;
  /*position: fixed;*/
  background-size: 100%;
  margin: auto;
  background-image: url(http://hdwallpapergirls.com/assets/large/beach-waves-background-wallpaper.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 35%;
    border-radius: 30px;
    border: 2px solid #43A41F;
    box-shadow: 0px 0px 30px 5px #43A41F;
}

#myBtn {
  display: inline-block;
  border-radius: 4px;
  background-color: #43A41F;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

#myBtn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: grey;
}

.nav-li {
    float: left;
}

.nav-li, .nav-a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.nav-logo {
    width: 200px;
    position: absolute;
    left: 80%;
    top: 1%;
    height: 64px;
    background-size: 100%;
    background-image: url(https://dewey.tailorbrands.com/production/brand_version_mockup_image/751/27930751_4924a031-8375-40e4-bbe2-4b0b9bcdc11d.png?cb=1464332476);
    background-repeat: no-repeat;
}

#myBtn span:after {
  content: '+';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#myBtn:hover span {
  padding-right: 25px;
}

#myBtn:hover span:after {
  opacity: 1;
  right: 0;
}

.add{
    border: 1px solid #43A41F;
    width: 50px;
    background-color: #43A41F;
    border-radius: 20px;
    padding: 3px;
}
.input-add-song{
  border-radius: 20px;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #C01209;
    text-decoration: none;
    cursor: pointer;
}
.search-icon {
    left: 10px;
    display: inline-block;
    height: 57px;
    width: 57px;
    float: left;
    background-image: url(http://www.clker.com/cliparts/O/L/w/R/n/a/search-icon-marine-md.png);
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    margin-top: 7px;
}
.main-box{
  padding: 10px;
}
html {
  height: 100%;
  margin: 0;
}
body {
  margin: 0;
  height: 100%;
  background-color: #333333 ;
  background-size: 100%;
  margin: auto;
}

a{
  text-decoration: none;
  color: black;
  font-size: 20px;

}
.play-btn:hover{
  box-shadow: 0px 0px 6px 5px #C2E4F4;
}
.play-btn{
  border: 4px solid black;
  padding: -1;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-image: url(https://cdn3.iconfinder.com/data/icons/social-messaging-productivity-3/128/arrow-right2-128.png);
  color: black;
  background-size: 100%;
  background-repeat: no-repeat;
  display: inline-block;
}

.stop-btn{
  border: 0px solid #1E4B99;
    box-shadow: 0px 0px 4px 3px #1E4B99;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-image: url(https://cdn3.iconfinder.com/data/icons/pictofoundry-pro-vector-set/512/MediaPause-512.png);
  color: black;
  background-size: 100%;
  background-repeat: no-repeat;
  display: inline-block;
}
.play-btn-lib {
    border: 4px solid black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #43A41F;
    background-image: url(https://cdn3.iconfinder.com/data/icons/social-messaging-productivity-3/128/arrow-right2-128.png);
    color: black;
    background-size: 100%;
    background-repeat: no-repeat;
    display: inline-block;
}
.stop-btn-lib{
 border: 0px solid #1E4B99;
    box-shadow: 0px 0px 4px 3px #43A41F;
    border-radius: 50%;
    width: 58px;
    height: 58px;
    background-color: #43A41F;
    background-image: url(https://cdn3.iconfinder.com/data/icons/pictofoundry-pro-vector-set/512/MediaPause-512.png);
    color: black;
    background-size: 100%;
    background-repeat: no-repeat;
    display: inline-block;
}

.mp3-outside-lib {
    display: inline-block;
    padding: 6px;
    width: 137px;
    height: 30px;
}

.sound-bar-lib {
    border: 0px solid black;
    width: 71px;
    height: 50px;
    background-image: url(http://38.media.tumblr.com/tumblr_m1zdnlaAvX1r3we0y.gif);
    color: black;
    background-size: 100%;
    background-repeat: no-repeat;
    display: inline-block;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid black;
}
.like-btn-lib {
    width: 35px;
    height: 35px;
    background-image: url(http://akpp-mers.ru/img/likel.png);
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: cell;
    border-radius: 50%;
    background-color: black;
    display: inline-block;
}
/*input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
}*/

.input-style-lib[type=text] {
    margin-bottom: 10px;
    margin-left: 4px;
    color: white;
    width: 250px;
    text-align: center;
    font-size: 150%;
    border: 2px solid #43A41F;
    height: 65px;
    float: left;
    border-radius: 20px;
    background-color: rgba(0,0,0,0.5);
  -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
.input-style-lib[type=text]:focus {
    width: 600px;
}
.container{
    margin: 10px;
    width: 99%;
    min-height: 625px;
    height: 625px;
    border-radius: 10px;
    overflow: scroll;

        background-color: rgba(229,229,229,0.4);
}

.row-lib{
  border:2px solid black;
}


.left-side-video-holder{
    border: 2px solid black;
    width: 55.8%;
    display: inherit;
    height: 318px;
    float: left;
}
.left-side-video-cover-all {
     border: 0px solid black;
    width: 54.2%;
    display: inline-block;
    height: 321px;
    float: none;
    position: absolute;
    background-color: rgba(0,0,0,0.000001);
    margin: -3px;
}

.left-top-video-cover {
    border: 2px solid black;
    height: 13%;
    background-color: black;
}
.left-down-video-cover {
    border: 2px solid black;
    height: 13%;
    background-color: black;
    position: relative;
    top: 72%;
}
/*.video {
  display: none;
}*/

.ytp-youtube-button, .ytp-button, .yt-uix-sessionlink{
  display: none;
}
.date-20160523, .en_US, .ltr,  .exp-responsive, .exp-scrollable-guide,   .site-center-aligned .site-as-giant-card,  .not-yt-legacy-css, .webkit, .webkit-537{
      font: 12px Roboto,Arial,sans-serif;
    background-color: #000;
    color: #fff;
    height: 146%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    margin: -45px;
    margin-left: auto;
    padding: 0;
}

iframe {
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    display: inline-block;
    margin: -3px;
    border: 0px solid black;
}
.index-add-new-song-btn{
  background-color: #D66F65;
  margin: 20px;
  border: 5px solid black;
  width: 10%;
  height: 5%;
  text-align: center;
  box-shadow: 30px 30px 15px grey;
}

.music-title-box{
  border: 5px solid black;
  width: 20%;
  height: 5%;
  box-shadow: 30px 30px 15px grey;
  text-align: center;
  background-color: #7FB0C7;
  color: white;
}
.add-title{
  margin: 20px;
  border: 5px solid black;
  width: 70%;
  height: 5%;
  box-shadow: 30px 30px 15px grey;
  text-align: center;
}

.input-new-song{
  margin: 50px;
  padding: 8px;
  border: 2px solid black;
  width: 40%;
  height: 10%;
  box-shadow: 30px 30px 15px grey;
  text-align: center;
}
.input-btn{
  margin: 50px;
  padding: 8px;
  border: 2px solid black;
  width: 5%;
  height: 10%;
  box-shadow: 30px 30px 15px grey;
  text-align: center;
}


.music-post{
  margin-top: 40px;
  margin-bottom: 40px;
  display: inline-block;
  border: 2px solid black;
  width: 99%;
  height: 50%;
  box-shadow: 30px 30px 90px black;
  text-align: center;
  background-size: 100%;
  background-repeat: no-repeat;
}
.all-music-player{
  border: 1px solid black;
  width: 96%;
  /*border-radius: 50px;*/
  margin: 5px;
  background-color: #2B3250;
  box-shadow: 30px 30px 90px black;



}
.artist-and-song-holder{
  border: 2px solid black;
  display: inline-block;

}
.song-hold{

   display: inline-block;
   width: 50%;



}
.music-box-holder {
      position: relative;
    float: right;
    width: 43%;
    height: 320px;
    display: inline-block;
    overflow: scroll;
}


.add-new-song-box{
  margin: 70px;
  border: 2px solid black;
  width: 50%;
  min-height: 80%;
  box-shadow: 30px 30px 15px grey;

}
#index-delete-btn{
  margin: 10px;
  float: right;
  border: 1px solid #D66F65;
  box-shadow: 5px 5px 15px grey;
  background-color: #D66F65;
}


.index-all-users-box{
  display: inline-block;
  margin: 10px;
  border: 2px solid black;
  width: 30%;
  height: 200px;

}
.mp3-outside{
    display: inline-block;
    padding: 6px;
}
.sound-bar{
    border: 0px solid black;
    width: 72px;
    height: 50px;
    background-image: url(http://38.media.tumblr.com/tumblr_m1zdnlaAvX1r3we0y.gif);
    color: black;
    background-size: 100%;
    background-repeat: no-repeat;
    display: inline-block;
}

.table-bordered, .table-striped {
  width: 95%;
  font-size: 150%;
}

