<center>

<div class="container" >

  <form>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>
        <input type="text" class="input-style" placeholder="Search all the music" ng-model="searchMusic">
      </div>
    </div>
  </form>

  <table class="table table-bordered table-striped">

    <thead>
      <tr>
      <td>
        <a href="#" ng-click="sortType = 'song_url'; sortReverse = !sortReverse">
            Player
            <hr>
            <span ng-show="sortType == 'song_url' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'song_url' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
        <td>
          <a href="#" ng-click="sortType = 'artist'; sortReverse = !sortReverse">
            Artist
            <hr>
            <span ng-show="sortType == 'artist' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'artist' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
        <td>
          <a href="#" ng-click="sortType = 'song'; sortReverse = !sortReverse">
          Song
          <hr>
            <span ng-show="sortType == 'song' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'song' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
        <td>
          <a href="#" ng-click="sortType = 'genre'; sortReverse = !sortReverse">
          Genre
          <hr>
            <span ng-show="sortType == 'genre' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'genre' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="music in musicListVm.musics | orderBy:sortType:sortReverse | filter:searchMusic">
        <div class="row-lib">
        <td>

          <div class="mp3-outside-lib">
            <div ng-hide="music.playing" class="play-btn-lib" ng-click="musicListVm.musicplayerFunction(music)"></div>
            <div ng-show="music.playing" class="stop-btn-lib" ng-click="musicListVm.musicstoperFunction(music)"></div>
            <div ng-show="music.playing" class="sound-bar-lib"></div>
          </div>
        </td>
        <td>{{ music.artist }}</td>
        <td>{{ music.song }}</td>
        <td>{{ music.genre }}</td></div>
      </tr>
    </tbody>

  </table>

</div>
</center>
<hr>
<hr>

<center>
  <div class="main-box">
    <div class="music-title-box">
      <h1>Music</h1>

    </div>
    <br>
     <div class="music-post">
     <div  class="left-side-video-holder">
        <div ng-repeat="music in musicListVm.musics" ng-show="music.playing" class="left-side-video-cover-all">
          <div class="left-top-video-cover">
          </div>
          <div class="left-down-video-cover">
          </div>
      </div>
       <iframe ng-repeat="music in musicListVm.musics" ng-show="music.playing" class="video" width="100%" height="100%" src="{{ musicListVm.musicSrc(music) }}"  frameborder="0" allowfullscreen></iframe>
      </div >
      <div class="music-box-holder">
       <div ng-repeat="music in musicListVm.musics">
         <div class="all-music-player">
           <div class="mp3-outside">
              <div ng-hide="music.playing" class="play-btn" ng-click="musicListVm.musicplayerFunction(music)"></div>
              <div ng-show="music.playing" class="stop-btn" ng-click="musicListVm.musicstoperFunction(music)"></div>
              <div ng-show="music.playing" class="sound-bar"></div>
            </div>
            <div class="song-hold">
                <strong>{{ music.song }}</strong>
                <br>
                <hr>
               {{ music.artist }}
            </div>
            <br>
          </div>
        </div>
      </div>
    </div>

    <div>
      <h3>Add New Songs</h3>
      <form id='new-show' ng-submit="musicListVm.addMusic()">
        <div>
          <label for="title">Artist:</label>
          <input type="text" name="title" ng-model="musicListVm.newMusic.artist">
        </div>
        <div>
          <label for="length">Song:</label>
          <input type="text" name="length" ng-model="musicListVm.newMusic.song">
        </div>
        <div>
          <label for="source">Genre:</label>
          <input type="text" name="source" ng-model="musicListVm.newMusic.genre">
        </div>
        <div>
          <label for="source">Song URL:</label>
          <input type="text" name="source" ng-model="musicListVm.newMusic.song_url">
        </div>
        <input type="submit" value="Add">
      </form>
    </div>



 </div>
</center>
